<div class="container__big-card">
  <!-- conteudo mockado -->
  <div class="big-card__photo">
    <img
    src="../../../assets/th-3209009794.jpeg"
    alt="Placeholder image"
    />
  </div>

  <div class="big-card__date">
    <p>
      Setembro 21, 2023
    </p>
  </div>

    <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do Angular</a> </h1>
    </div>

  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, officia repudiandae! Optio maxime autem veritatis! Sapiente mollitia obcaecati temporibus fugiat illo iusto. Provident sit vitae cupiditate explicabo quo deleniti. Illo.
      </a>
    </p>
  </div>
</div>
