<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="../../../assets/th-3209009794.jpeg"
      cardDate="21/09/2023"
      cardTitle="Teste"
      cardDescription="Lorem ipsum"></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FVfdvYjio4kk%2Fmaxresdefault.jpg&f=1&nofb=1&ipt=9b6393704126c558ebfe3d0d68c41b63800ca5fcff1801d4b24d2d8807049dbe&ipo=images"
      cardDate="Setembro 21, 2023"
      cardTitle="Final Fantasy XIV lança trailer de sua nova expansão Dawntrail">
    </app-small-card>
    <app-small-card
      Id="3"
      photoCover="../../../assets/th-3209009794.jpeg"
      cardDate="Setembro 18, 2023"
      cardTitle="Saiu a nova versão do Angular">
    </app-small-card>
    <app-small-card
      Id="4"
      photoCover="../../../assets/th-3209009794.jpeg"
      cardDate="Setembro 21, 2023"
      cardTitle="Saiu a nova versão do Angular">
    </app-small-card>
  </div>
</div>
