<div class="container__menu-bar">
  <div class="menu-bar__home">
    <a [routerLink]="['']"><img src="{{homeIcon}}" alt=""></a>
  </div>
  <ul class="menu-bar__links">
    <li>
      <a href="https://www.linkedin.com/in/guilherme-emeterio-developer/" target="_blank">
        <img src="{{linkedinIcon}}" alt="">
      </a>
    </li>
    <li><span></span></li>
    <li>
      <a href="https://github.com/DankAlighieri" target="_blank">
        <img src="{{githubIcon}}" alt="">
      </a>
    </li>
  </ul>
  <div class="menu-bar__mock"></div>
</div>
