.container__menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  margin-top: 15px;
}

.menu-bar__home > a > img{
  width: 2rem;
  margin-left: .6rem;
}

.menu-bar__links {
  display: flex;
  flex-direction: row;
}

.menu-bar__links > li{
  list-style: none;
  margin-right: 20px;
}
.menu-bar__links > li > a {
  font-size: 1.4rem;
}
